* {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#toolbar {
    background-color: rgb(200, 10, 10);
    box-shadow: -5px 5px 5px rgb(100, 0, 0);
    padding: 4px;
    display: flex;
    flex-flow: row;
}

button {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

th,
td {
    padding: 8px;
    border: solid rgb(80, 80, 80) 1px;
    text-align: center;
}

th {
    background-color: rgb(200, 200, 200);
    font-size: 14px;
}

td {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.middleview {
    margin: 0px;
    display: inline-flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

#input {
    box-sizing: border-box;
    padding: 8px;
    margin: 0px;
    width: 100%;
    height: 50px;
    resize: none;

    border: none;
    box-shadow: inset 0 10px 10px -5px rgb(100, 0, 0), inset 10px 0 10px -5px rgb(0, 0, 0, 0.75);
    background-color: white;
}

.code {
    font-family: "Consolas";
    font-size: 14px;
}

#cons {
    box-sizing: border-box;
    padding: 8px;
    background-color: black;
    color: white;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.right {
    float: right;
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    flex-shrink: 1;
    overflow-x: auto;
}

.left {
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.sides {
    flex-grow: 1;
    width: 100%;
}

#tableView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;

    overflow-y: auto;
    max-height: 100%;
}

#tableView table {
    height: min-content;
}

table {
    border-spacing: 0;
}

#tableView .tableContent {
    height: min-content;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.5);
    margin: 8px;
    border-radius: 8px;
}

.table-name {
    padding: 4px;
    text-align-last: center;
}

.combined-line {
    padding-bottom: 8px;
}

.error {
    color: red;
}

.user {
    color: rgb(170, 170, 170);
}

.indicator {
    width: 24px;
    text-align: left;
    align-items: center;
}

.input-line {
    display: flex;
    background-color: rgb(220, 220, 220);
    align-items: center;
}

.line {
    display: flex;
}

#dragBar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 6px;
    background-color: rgb(200, 10, 10);
    cursor: col-resize;
    box-shadow: -5px 0px 5px rgb(100, 0, 0);
}

.selected {
    /*
    border-color: #646cff;
    outline: 4px auto -webkit-focus-ring-color;
    transition: border-color 0.25s;
    */
    transition: box-shadow 0.15s;
    box-shadow: 0 0 0px 2px #2d38ff;
}